body.light {
    --color-bg: #FFFFFF;
    --color-accent-light: #e4e5f1;
    --color-accent-mid: #9394a5;
    --color-accent-dark: #484b6a;

    --color-text-hc: #FFFFFF;
    --color-text-light: #e4e5f1;
    --color-text-dark: #484b6a;
    --color-text-solid: #000000;
}

body.dark {
    --color-bg: #1e1e1e;
    --color-accent-light: #2d2d30;
    --color-accent-mid: #3e3e42;
    --color-accent-dark: #252526;

    --color-text-hc: #e4e5f1;
    --color-text-light: #e4e5f1;
    --color-text-dark: #9c9c9c;
    --color-text-solid: #7d7d7d;
}

body.green {
    --color-bg: #F8EDE3;
    --color-accent-light: #BDD2B6;
    --color-accent-mid: #A2B29F;
    --color-accent-dark: #798777;

    --color-text-hc: #F8EDE3;
    --color-text-light: #BDD2B6;
    --color-text-dark: #798777;
}